<!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <%= link_to image_tag("/img/logo.png"), root_path%>
                </div>
                <div class="nav-right">
                    <%= link_to t('.makeapplication'), new_proposal_path,  class: "primary-btn"%>
                    <%= link_to t('.admin'), session_acc_path, class: "primary-btn"%>
                    <%= link_to t('.applications'), proposals_path, class: "primary-btn"%>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><%= link_to t('.home'), session_index_path%></a></li>
                        <li><%= link_to t('.about'), session_aboutus_path%></li>
                        <li><%= link_to t('.rooms'), session_rooms_path%></li>
                        <li class="active"><%= link_to t('.contact'), session_contact_path%></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
<!-- Header End -->

<!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="info-box">
                        <img src="/img/contact-logo.png" alt="">
                        <ul>
                            <li>1525 Madison Lane, <br />Los Angeles, CA</li>
                            <li>+1 (600) 555-5599</li>
                            <li>europa@email.com</li>
                            <li><%= t '.everyday'%>: 06:00 - 22:00</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </section>
<!-- Contact Section End -->