<%= form_with(model: user, local: true) do |form| %><br/>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %><br/>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div><br/>


  <div class="actions">
    <% if current_admin%>
      <%= form.submit t('global.forms.edit')%>
    <% else %>
      <%= form.submit t('global.forms.reg')%>
    <% end %>
  </div>
<% end %>
